{% extends 'base.html' %}
{% block content %}
	{% for questions in question %}
	<script type="text/javascript" src="http://www.cpagrip.com/script_include.php?id=2193">
	</script>
		<b>{{questions.question}}</b><br><br>
		<b>{{question_votes}} Points</b><br>
		<b>Tag: <b><a href="{%url 'tag_filter' questions.tag %}">{{questions.tag}}</a></b>
		<form action = "{% url 'question_upvote' questions.id%}" method="POST">
			{% csrf_token %}
    		<input id="submit" type="submit" value="Up" name="up" />
		</form>
		<form action = "{% url 'question_downvote' questions.id%}" method="POST">
			{% csrf_token %}
    		<input id="submit" type="submit" value="Down" name="down" />
		</form>
		<br><br>

		<div class="container">
		  <div class="row">
		    <div class="col-sm-6 offset-sm-3">
		      <form method="POST" action="{% url  'question_detail' questions.id %}">
		        {% csrf_token %}
		        {% for field in form %}
		        <div class="form-group">
		          {{ field.errors }}
		          {{ field.label_tag }}
		          {{ field }}
		        </div>
		        {% endfor %}
		        <input type="submit" value="submit" class='btn btn-primary'>
		      </form>
		    </div>
		  </div>
		</div>

		<h1>Answers:</h1>>
		{% for answers in answer_list %}
			{{answers.answer}}<br><br>
		{{votes}}Points
		<form action = "{% url 'answer_upvote' questions.id answers.id %}" method="POST">
			{% csrf_token %}
    		<input id="submit" type="submit" value="Up" name="up" />
		</form>
		<form action = "{% url 'answer_downvote' questions.id answers.id%}" method="POST">
			{% csrf_token %}
    		<input id="submit" type="submit" value="Down" name="down" />
		</form>
		
		{%endfor%}
		<hr><br>
	{% endfor %}
{% endblock %}